
/* header style  */

.header-s{
background-image: url("../Assets/Hero-bg.png");
background-repeat: none;
margin:top 50px bottom 50px;

}
.nav-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-weight: bold;
  font-style: normal;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 150px;
    
}

.nav-title{
    color:#4E47FF;  
   
  
}

.button-s{
    background-color: #4E47FF;
    color:white;
    padding:12px 36px;
    border-radius:10px;

  
}

button:hover{

    color: darkkhaki;
}

/*banner style*/

.banner-heading{

     margin-bottom: 37px;
     font-size: 65px; 
}
.banner{  

    align-items: center; 
    text-align: center;
    padding: 80px 268px 150px 268px;

}
 
.raleway-font{        
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}
    


  .span-b{
    display:block;
    align-self: center;
    
  }
  

  

  /* main style  */
  main{
    max-width: 1140;
    margin: 0 auto;
  }

   .newslater{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: antiquewhite;
    gap:auto;
    margin: 50px 150px 0px 150px; 

  }

  .bg-productive{
     align-items: center;
     text-align: center;
    /* justify-content: space-around;     */
    background-color: lavender;
    margin:50px 200px 50px 200px;
    /* margin-left: 100px; */
    /* margin-right: 141px; */

  }

   .productive-heading{
    text-align: center;
     margin-bottom: 37px;
     font-size: 38px; 
}


    .productive-style{
    color:blue;    
    text-decoration: none;  
    font-size: 50px;
     
  }

  
  .productive-style2{

    color:#8987A1;   
    text-decoration: none;  
    font-size: 15px;
    
  }

  .wc-big{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: antiquewhite;
    margin: 92px 150px 14px 150px;
 

  }

  .radius{ 
    border-radius:15px;
}
.focus-heading{
    text-align: center;
     margin-bottom: 20px;
     font-size: 38px; 
}
 
 

  h2{
    font-size: 90px;
    
  }
  .f{
    display:block;
    margin-top: 5px;
    color: black;
    padding: 0px;
    text-align: left;
    
  }

  .input-style{
    height: 40px;
    width: 100%;
    align-content: left;
    border-radius: 5px;
    margin-bottom: 10px;

  }
  .message-style
  {
height: 80px;
    width: 100%;
    align-content: left;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /* footer style  */

  footer{
    background-color:whitesmoke;
       
  }

  .footer-div-style{
    padding: 80px 489px 80px 489px;
  }

  .h{
    color: #4E47FF;     
    font-size: 80px;
    text-align: center;
    
  }

  .list{
    display: flex;    
    list-style-type: none;     
    justify-content: space-around;  
    
  }

  .font-style{
    color:#8987A1;
    /* margin-right:48px; */
    text-decoration: none;  
   
    
     
  }
  .span-footer ,.span-main{
    display:block;
     align-items: center; 
  }
  p{
    color:#8987A1;
    text-align: center;
    padding-top:8px;
    padding-bottom: 20px;

  }
  .ancor{
    text-decoration: none;
    color:#8987A1;
  }